@charset "UTF-8";
@import 'setting';

.profile{
  padding: 0;
  display:grid;
  grid-template-columns:1fr;
  align-items: center;
  @media screen and (min-width: $pc_min) {
    grid-template-columns:1fr 1fr;
  }
  div.left{
    text-align: center;
  }
  h3{
    color: $main_color;
    font-size: 1.6rem;
    &:after{
      content: "";
      display: block;
      margin: 1rem auto;
      width:60px;
      height: 1px;
      background: $main_color;
    }
  }
  color: $main_color;
  div.right{
    padding: 1rem;
    background: $bg_color;
    font-size: 0.9rem;
  }
  p.en{
    font-family: 'Ephesis', cursive;
    font-size: 4em;
    padding: 2rem auto;
    transform: rotate(-10deg);
    @media screen and (min-width: $pc_min) {
      margin-left: -3rem;
    }
  }
  padding-bottom: 10px;
  border-bottom: 1px solid $main_color;
}

.policy{
  background: $main_color;
  margin-top: 0.5rem;
  h2{
    color: $white_color;
    div:before{
      background-color: $white_color;
    }
  }
  .container{
    background-color: $white_color;
    @media screen and (min-width: $pc_min) {
      padding: 4rem;
    }
  }
  h3{
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    font-weight: 120;
    color: $main_color;
    font-size: 1.1em;
    border-bottom: 1px solid $main_light_color;
  }

}

.skill{
  margin-top: 0.5rem;
  border-top: 1px solid $main_color;
  .icon{
    color: $main_light_color;
    margin: 0 auto;
  }

  .grid{
    display:grid;
    grid-template-columns:1fr;
    grid-gap: 1rem;
    @media screen and (min-width: $pc_min) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 1rem;
      grid-auto-flow: column;
      align-items: center;
    }
  }
  h3{
    color: $main_color;
  }
  dl{
    border-top: 1px solid $second_color;
    padding: 0.5rem;
  }
  dl:last-of-type{
    border-bottom: 1px solid $second_color;
  }
  dt{
    color: $second_color;
  }
  @media screen and (min-width: $pc_min) {
    dt{
      float: left;
      width: 10%;
    }
    dd{
      margin-left: 12%;
    }
  }
}

.notice{
  margin-bottom: 0.5rem;
  border-bottom: 1px solid $main_color;
  .container{
    border: 1px solid $main_color;
    padding: 2rem;
  }
  h2{
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    background-color: $white_color;
    font-size: 1.4rem;
    margin-top: -3.2rem;

    display: block;
    width: 220px;
  }
  .grid{
    margin: 2rem auto;
    display:grid;
    grid-template-columns:1fr;
    grid-gap: 3rem;
    @media screen and (min-width: $pc_min) {
      grid-template-columns:1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }

  // icon color
  color: $main_light_color;

  h3{
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    color: $main_color;
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  p{
    font-size: 0.8rem;
    color: $font_color;
  }
}

.history{
  background: $main_light_color;
  font-size: 0.8rem;
  .container{
    background: $white_color;
  }
}

.timeline {
  list-style: none;
  margin: 2rem 1rem;
  padding: 1rem 0;

  @media ( min-width : $pc_min ){
    padding: 2rem 1rem 2rem 2rem;
  }
}

.timeline > li {
  border-left: 1px $main_light_color solid;
  padding: 20px 40px;
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 8px;
    margin-left: -47px;
    border-radius: 100%;
    background: $main_color;
  }
}
/* for Desktop */
@media ( min-width : $pc_min ){
  .timeline > li {
    padding: 20px 40px;
  }
}
