@charset "UTF-8";
@import 'setting';

header{
  background: $white_color;
  border-bottom: 2px solid $main_light_color;
  @media screen and (min-width: $pc_min) {
      display:grid;
      grid-template-columns:30% 1fr;
  }
  nav{
    display: none;
    @media screen and (min-width: $pc_min) {
      display: block;
      margin: 0 auto;
      ul{
        text-align: center;
        li{
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          padding: 0.5rem 0;
        }
      }
    }
  }
}



.side{
  margin: 0.5rem auto;
  @media screen and (min-width: $pc_min) {
    margin-top: 2rem;
  }
}

.logo{
  margin: 0 auto;
  display: block;
  width: 40px;
  height: 40px;
  @media screen and (min-width: $pc_min) {
    width: 100px;
    height: 100px;
  }
}

.bar{
  display: none;
  @media screen and (min-width: $pc_min) {
    display: block;
    background-color: $main_light_color;
    width: 30px;
    height: 1px;
    margin: 1.5rem auto;
  }
}

.subtitle{
  display: none; 
  @media screen and (min-width: $pc_min) {
    display: block;
    color: $main_color;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
  }
}
