@charset "UTF-8";
@import 'setting';

header{
  border-top: 2px solid $main_color;
  padding: 0.5rem 0;
  @media screen and (min-width: $pc_min) {
    background: $main_color;
    height: 60px;
    display:grid;
    grid-template-columns:10% 1fr;
  }
  nav{
    display: none;
    @media screen and (min-width: $pc_min) {
      display: block;
      margin: 0 auto;
      ul{
        display: flex;
        justify-content: space-between;
        li{
          text-transform: uppercase;
          padding: 0.5rem 2rem;
          a{
            color: $white_color;
          }
        }
      }
    }
  }
}

.back{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo{
  margin: 0 auto;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 10;
  @media screen and (min-width: $pc_min) {
    margin-left: 2rem;
    width: 100px;
    height: 100px;
  }
}
