@charset "UTF-8";
@import 'setting';


section{
  padding: 4rem 0;
  @media screen and (min-width: $pc_min) {
    padding: 6rem 0;
  }
}

.hero{
  z-index: 0;
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  width: 100%;
  height: 50vh;
  .container{
    color: $main_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; // 高さを指定して縦の中央に配置
    align-items: center;
    @media screen and (min-width: $pc_min) {
      align-items: flex-end; // PC時は右寄せ
    }
    p{
      padding: 0.5rem 0;

    }
    .en{
      font-family: 'Ephesis', cursive;
      font-size: 2.4em;
      transform: rotate(-5deg);
    }
    @media screen and (min-width: $pc_min) {
      p{
        padding: 0.5rem 0;
        font-size: 1.2rem;
      }
    }
    text-shadow: 2px 3px 4px $main_light_color; // 文字に影横に2 縦に3　ぼかし4px
  }
}

.service{
  background: $bg_color;
  .container{
    display:grid;
    grid-template-columns:1fr;
    grid-gap: 3rem;
    @media screen and (min-width: $pc_min) {
      grid-template-columns:1fr 1fr;
      grid-gap: 1rem;
    }
  }

  .item{
    position: relative;
    &:hover{
      opacity: 0.8;
    }
  }
  h3{
    color: $main_color;
    font-size: 1.2rem;
    padding: 1rem;
    @media screen and (min-width: $pc_min) {
      font-size: 2rem;
      padding: 1rem 2rem;/*文字と線の間の余白*/
    }
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(247,247,245,0.9);
    text-align: center;
  }
}

.gallery{
  border-top: 1px solid $main_color;
  border-bottom: 1px solid $main_color;
  margin: 0.5rem 0;

  .container{
    margin: 4rem auto;
    display:grid;
    grid-template-columns:1fr;
    grid-gap: 3rem;
    @media screen and (min-width: $pc_min) {
      grid-template-columns:1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }
}


.profile{
  padding: 0;
  display:grid;
  grid-template-columns:1fr;
  align-items: center;
  @media screen and (min-width: $pc_min) {
    grid-template-columns:1fr 1fr;
  }
  div.left{
    text-align: center;
  }
  h3{
    color: $main_color;
    font-size: 1.6rem;
    &:after{
      content: "";
      display: block;
      margin: 1rem auto;
      width: 60px;
      height: 1px;
      background: $main_color;
    }
  }
  color: $main_color;
  div.right{
    padding: 1.5rem;
    background: $bg_color;
    font-size: 0.9rem;
  }
  p.en{
    font-family: 'Ephesis', cursive;
    font-size: 3em;
    padding: 2rem auto;
    transform: rotate(-8deg);
    @media screen and (min-width: $pc_min) {
      margin-left: -3rem;
    }
  }

}
