@charset "UTF-8";
@import 'setting';

h2{
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  margin: 0 auto 2.5rem auto;
  color: $main_color;
  text-align: center;
}
h3{
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
}
section{
}

.container{
  margin: 0 auto;
  max-width: $container_max;
}

.gallery{
  padding: 6rem 0;
  .container{
    margin: 2rem auto;
    display:grid;
    grid-template-columns:1fr;
    grid-gap: 3rem;
    @media screen and (min-width: $pc_min) {
      grid-template-columns:1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }
  article{
    max-width: 95%;
    margin: 0 auto;
  }
}

.service{
  background: $bg_color;
  padding: 6rem 0;

  .container{
    display:grid;
    grid-template-columns:1fr;
    grid-gap: 3rem;
    @media screen and (min-width: $pc_min) {
      grid-template-columns:1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }
  .item{
    position: relative;
    max-width: 95%;
    margin: 0 auto;
  }
  h3{
    color: $main_color;
    font-size: 1.1rem;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(247,247,245,0.75);
    padding: 5px 7px;/*文字と線の間の余白*/
  }
}

.profile{
  display:grid;
  grid-template-columns:1fr;
  @media screen and (min-width: $pc_min) {
    grid-template-columns:1fr 1fr;
  }
  div.left{
    text-align: center;
    padding: 4rem 0;
  }
  h3{
    color: $main_color;
    font-size: 1.2rem;
    &:after{
      content: "";
      display: block;
      margin: 1rem auto;
      width:100px;
      height: 1px;
      background: $main_light_color;
    }
  }
  color: $white_color;
  div.right{
    padding: 4rem 1rem;
    background: $main_light_color;
    font-size: 0.9rem;
  }
}

.contact{
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: $white_color;
  position: relative;

  h2{
    color: $white_color;
  }
  p{
    padding: 1rem 0;
  }
  .btn{
    border:1px solid $white_color;
    color: $white_color;
  }
  .container{
    z-index: 10;
    position: relative;
    text-align: center;
  }
  .back{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
