@charset "UTF-8";
// メインカラー（グリーン）
$main_color: #82927D;
$main_light_color: #BCCBB8;

//セカンドカラー（ブラウン）
$second_color: #BE9885;
$second_light_color: #DBCCBD;

// テキストカラー（ダークグレー）
$font_color: #4E4E4E;

// リンクカラー（グリーン）
$link_color: #82927D;

// ベースカラー（リネン）
$bg_color: #F7F1EB;
$white_color: #FFFFFF;

// size
$container_max:980px;
$pc_min: 768px;
