@charset "UTF-8";
// メインカラー（茶）
$main_color: #815636;
$main_light_color: #D8B884;

// リンクカラー（グリーン）
$link_color: #3C2322;

// アクセントカラー（サーモンピンク）
$accent_color: #CC766E;

// ベースカラー（リネン）
$bg_color: #FAF6F0;

$gray_color: #707070;
$white_color: #FFFFFF;

// テキストカラー
$font_color: #404041;

// size
$container_max:980px;
$sp_max: 768px;
$pc_min: 769px;
